/* ========================================
	Client Documentation CSS
   ======================================== */

/*
	Documentation Page
*/

.clientDocumentation .first-part h2,
.clientDocumentation .second-part h2{
	margin-top:0;
	padding-top: 0px;
}

/* Left column */
.clientDocumentation  .first-part{
	width:49%;
	float:left;
	padding:2%;
	background:#f5f5f5;
	margin-top: 30px;
}

.clientDocumentation .cd-list{
	position: relative;
	min-height: 30px;
}

.clientDocumentation  .cd-list li.cd-list-el{
	background:#f7f7f7;
	border:1px solid #d7d7d7;
	line-height: 14px;
	margin:0;
	vertical-align: middle;
	position: relative;
	-webkit-box-shadow:  1px 1px 3px 0px rgba(50, 50, 50, 0.1);
    box-shadow:  1px 1px 3px 0px rgba(50, 50, 50, 0.1);
    -webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
	transition: all 500ms ease;
	display:block;
}
.clientDocumentation .cd-list li.cd-no-items{
	background:#FFF;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding:10px 15px;
}
.clientDocumentation .cd_title{
	padding:15px 20px;
	position: relative;
}
.clientDocumentation .cd_title .cd_field_action{
	position: absolute;
	top:34%;
	right:0;
}
.clientDocumentation .cd_title .cd_field_action a{
	text-decoration: none;
}
.clientDocumentation .cd_title .cd_field_action i.remove_field:hover{
	color:#a02828;
	cursor: pointer;
}
.clientDocumentation .cd_title .cd_field_action i.icon-pencil:hover{
	color:#333;
	cursor: pointer;
}
.clientDocumentation .cd_expand{
	border-top:1px solid #eee;
	padding: 15px 20px;
	display: none;
}
.clientDocumentation .cd_expand iframe{
	width:100%;
  height:350px;
}
.clientDocumentation .cd-list li.cd-list-el:hover{
	background:#fff;
	cursor: pointer;
	border:1px solid #d7d7d7;
	line-height: 14px;
	margin:0px 4px;
	vertical-align: middle;
	position: relative;
	-webkit-box-shadow:  1px 1px 2px 0px rgba(50, 50, 50, 0.1);
    box-shadow:  1px 1px 2px 0px rgba(50, 50, 50, 0.1);
}
.clientDocumentation .cd-list li i{
	color:#999;
	font-size: 14px;
	margin-right: 15px;
}

.clientDocumentation .cd_open_modal{
	margin-top: 15px;
	margin-left: 15px !important;
}
.clientDocumentation .cd_open_modal:focus,
.clientDocumentation .cd_open_modal:active{
	background:#FFF;
	color:#2279A0;
}
.clientDocumentation .first{
	margin-left: 0 !important;
}
.clientDocumentation .cd_open_modal i{
	margin-right: 10px;
}

/* Right column */

.clientDocumentation .second-part{
	width:47%;
	float:right;
	margin-top: 30px;
}

.clientDocumentation .cd_info{
	padding:4%;
}

.clientDocumentation .add-box{
	padding:4%;
	margin-top:20px;
	border:1px solid #eee;
	background: #f5f5f5;
}

.clientDocumentation .add-box .mceIframeContainer{
	background:#FFF;
}

.clientDocumentation .cd-form-head select{
	width:29%;
}

.clientDocumentation .cd-form-head input{
	width:68%;
	padding:5px 8px;
	margin-left: 2%;
}
#cd_article textarea{
	width:100%;

}

/* MODAL TICK */

.clientDocumentation .cd_tick_header{
	background:#F5F5F5;
	padding:25px;
}
.clientDocumentation .cd_tick_header ul{
	margin:0; padding:0;
}
.clientDocumentation .cd_tick_header ul li{
	text-align: center;
	padding:10px 0;
	width:18.5%;
	margin:0 3%;
	float:left;
	color:#ccc;
	border:1px solid #d7d7d7;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:#f7f7f7;
	-webkit-box-shadow:  1px 1px 3px 0px rgba(50, 50, 50, 0.1);
    box-shadow:  1px 1px 3px 0px rgba(50, 50, 50, 0.1);
    -webkit-transition: all 1000ms ease;
	-moz-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
	transition: all 1000ms ease;
}
.clientDocumentation .cd_tick_header ul li:hover{
	cursor: pointer;
	background:#FFF;
	color:#999;
}
.clientDocumentation .cd_tick_header ul li.active{
	background:#FFF;
	color:#666;
	outline: none;
	-webkit-box-shadow:  0px 0px 6px 0px rgba(50, 50, 50, 0.4);
    box-shadow:  0px 0px 6px 0px rgba(50, 50, 50, 0.4);
}
.clientDocumentation .cd_tick_headder ul li:focus,
.clientDocumentation .cd_tick_headder ul li:active{border-color: #666;}
.clientDocumentation .cd_tick_header ul li i{
	display:block;
	font-size: 32px;
}
.clientDocumentation .cd_tick_body{
	border-top:1px solid #ccc;
	background:#eee;
	padding:40px;
	/*min-height: 130px;*/
}
.clientDocumentation #TB_ajaxContent{padding:0 !important;width:630px !important;}
.clientDocumentation #TB_window{width:630px !important;height:470px !important;background:#EEE !important;overflow: hidden !important;}
.cd_tick_body p{
	margin:0;
}

#cd_video,
#cd_note,
#cd_link,
#cd_file{
	position:relative;
	padding-bottom: 40px;
}

#cd_title_video,
#cd_title_note,
#cd_content_link,
#cd_title_file,
#cd_content_file{
	width:100%;
	padding:10px;
}

#cd_content_link,
#cd_content_file{
	margin-top: 20px;
}

#cd_title_link{
	width:100%;
	padding:10px;
}

#cd_button_file{
	width:19%;
	height:37px;
	line-height: 30px;
}
#cd_content_file{
	width:80%;
}

#cd_content_video,
#cd_content_note{
	width:100%;
	padding:10px;
	margin-top: 20px;
	min-height: 100px;
}

#cd_submit_video,
#cd_submit_note,
#cd_submit_link,
#cd_submit_file{
	position: absolute;
	bottom: 0;
	right:0;
}


.cd_edit_settings{
	padding:5%;
}
.cd_edit_settings h2{
	border-bottom: 1px solid #ccc;
}
.cd_edit_settings input{
	width:73%;
}
.cd_edit_settings .cd_edition_div2{
  width:90%;
}
.cd_edit_settings .cd_edition_div2 .cd_one{
  width:40%;
  float:left;
}
.cd_edit_settings .cd_edition_div2 .cd_two{
  width:40%;
  float:left;
  margin-left:5%;
}
.cd_edit_settings .cd_edition_div2 .cd_two input,
.cd_edit_settings .cd_edition_div2 .cd_one input{
  width:90%;
}

.cd_credits{
	border-top: 1px solid #eee;
	margin: 4em 2% 2em 2%;
	padding:2% 2%;
	font-size: 0.9em;
}

/*  ====================================
	Dashboard widget style
	====================================  */
.cd_wdg_title{
	font-size: 1.4em !important;
	font-weight: bold;
	margin:30px 0 0 0 !important;
	border-bottom: 1px solid #ccc;
}
.cd_wdg_title.first{
	margin:20px 0 0 0 !important;
}
.cd_client_list li,
.cd_client_star li{
	background:#f7f7f7;
	border:1px solid #d7d7d7;
	line-height: 14px;
	margin:0;
	vertical-align: middle;
	position: relative;
	-webkit-box-shadow:  1px 1px 3px 0px rgba(50, 50, 50, 0.1);
    box-shadow:  1px 1px 3px 0px rgba(50, 50, 50, 0.1);
    -webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
	transition: all 500ms ease;
	display:block;
}
.cd_client_list li:hover,
.cd_client_star li:hover{
	background:#fff;
	cursor: pointer;
	border:1px solid #d7d7d7;
	line-height: 14px;
	margin:0px 4px;
	vertical-align: middle;
	position: relative;
	-webkit-box-shadow:  1px 1px 2px 0px rgba(50, 50, 50, 0.1);
    box-shadow:  1px 1px 2px 0px rgba(50, 50, 50, 0.1);
}

.cd_client_list li h5,
.cd_client_star li h5{
	padding:15px 20px;
	margin:0;
	font-size: 1em;
	position: relative;
}
.cd_client_list li h5 i,
.cd_client_star li h5 i{
	color:#999;
	font-size: 14px;
	margin-right: 15px;
}
.cd_client_list li h5 i.loading,
.cd_client_star li h5 i.loading{
	background:transparent url('../img/loading.gif') top left no-repeat;
	background-size: 16px 16px;
	background-position: 0 0;
	display: inline-block;
	width:16px;
	height:14px;
}
.cd_client_list li h5 i.loading:before,
.cd_client_star li h5 i.loading:before{
	content: " ";
}
.cd_client_list li h5 .cd_expand_hover,
.cd_client_star li h5 .cd_expand_hover{
	display:none;
}
.cd_client_list li:hover h5 .cd_expand_hover,
.cd_client_star li:hover h5 .cd_expand_hover{
	display:inline;
	position: absolute;
	right:20px;
	top:15px;
	color:#ccc;
	font-weight: 300;
}
.cd_client_list li div.cd_widget_content,
.cd_client_star li div.cd_widget_content{
	padding:15px 20px;
	border-top:1px solid #eee;
	display:none;
}
.cd_client_list li div.cd_widget_content iframe,
.cd_client_star li div.cd_widget_content iframe{
	width:100%;
  height:350px;
}
.cd_page{
	margin:15px 0 0 0;
	padding:10px 0 0 0;
	border-top: 1px solid #ccc;
}
.cd_page li{
	display:inline;
	margin:0 10px 0 0;
}
.cd_page li a.cd_current{
	font-size: 1.2em;
	font-weight: bold;
	color: #000;
}


.cd_star{
	font-family:FontAwesome;
	font-weight:normal;
	font-style:normal;
	display:inline-block;
}
.cd_star:hover{
	cursor:pointer;
}
.cd_star:before{
	content:"\f006";
	padding-right:5px;
	color:#999999;
}
.cd_star:hover:before,
.cd_star:hover~.cd_star:before{
	content:"\f005";color:#e3cf7a;
}

.cd_client_list li h5 i.icon-star.cd_star:before,
.cd_client_star li h5 i.icon-star.cd_star:before,
.cd_client_star li h5 i.icon-star,
.cd_client_list li h5 i.icon-star{
	color:#e3cf7a;
}

/* MODAL EDITION */

.cd_field_edition{
	padding:4% 8%;
}
.cd_field_edition input,
.cd_field_edition textarea{
	padding:5px 10px;
	width:90%;
}
.cd_field_edition textarea{
	min-height:100px;
	resize: vertical;
	max-height:200px;
}

/* MODAL IMPORT / EXPORT */

.cd_import_export{
  padding:6% 4%;
}
.cd_import_export .cd_import{

}
.cd_import_export .cd_import textarea{
  width:90%;
  resize:none;
  overflow:auto;
  padding:1%;
  height:110px;
}
.cd_import_export .cd_export textarea{
  border:1px solid #ccc;
  overflow:auto;
  height:110px;
  display:block;
  width:87.5%;
  padding:1%;
  margin-bottom:4px;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}